<%= form_for(@agente) do |f| %>
  <%= render 'error_messages', target: @agente %>

  <div class="field">
    <%= f.label :clave %><br />
    <%= f.text_field :clave %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  
  <div class="field">
    <%= f.label :e_mail %><br />
    <%= f.text_field :e_mail %>
  </div>
  <div class="field">
    <%= f.label :responsable %><br />
    <%= f.check_box :responsable %>
  </div>
  
  
  <div class="field">
    <%= f.label :nave_id %><br />
    <%= f.select :nave_id, Nave.all.collect{|n| [n.nombre, n.id ]} %>
  </div>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
