<div class="label label-info" align="center">
	<h1>Listado de Agentes</h1>
</div>
<br />

<table class="agentes table table-bordered">
  <thead>
    <tr>
      <th>Clave</th>
      <th>Nombre</th>
      <th>E mail</th>
      <th>Responsable</th>
      <th>Nave industrial</th>
      <th>Opciones</th>      
    </tr>
  </thead>

  <tbody>
  <% @agentes.each do |agente| %>
    <tr>
      <td><%= agente.clave %></td>
      <td><%= agente.nombre %></td>
      <td><%= agente.e_mail %></td>
      <td><%= agente.responsable %></td>
      <td><%= agente.nave.nombre %></td>  
      <td>
      	<div class="btn-group">
      		<%= link_to 'Mostrar', agente, :class => 'btn' %>
      		
      		<%= link_to 'Editar', edit_agente_path(agente), :class => 'btn' %>
      		<%= link_to 'Eliminar', agente, confirm: '¿Está usted seguro?', method: :delete, :class => 'btn btn-danger' %>
      	</div>
      </td>      
    </tr>
  <% end %>
  </tbody>
</table>

<br />
<%= link_to 'Nuevo Agente', new_agente_path, :class => 'btn btn-primary'  %>
<%= link_to 'PDF Agentes', agentes_path(:format => 'pdf'), :class => 'btn btn-inverse' %>
<%= link_to 'Excel Agentes', agentes_path(:format => 'xls') %>
