<h2>Registrame</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, "Correo electrónico" %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password, "Contraseña" %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, "Confirmar contraseña" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Registrarme" %></div>
<% end %>

<%= render "devise/shared/links" %>
