<p id="notice"><%= notice %></p>

<p>
  <b>Numero de serie:</b>
  <%= @vehiculo.numero_de_serie %>
</p>

<p>
  <b>Marca:</b>
  <%= @vehiculo.marca %>
</p>

<p>
  <b>Linea:</b>
  <%= @vehiculo.linea %>
</p>

<p>
  <b>Modelo:</b>
  <%= @vehiculo.modelo %>
</p>

<p>
  <b>Procedencia:</b>
  <%= @vehiculo.procedencia %>
</p>

<p>
  <b>Cilindros:</b>
  <%= @vehiculo.cilindros %>
</p>

<p>
  <b>Numero de motor:</b>
  <%= @vehiculo.numero_de_motor %>
</p>

<p>
  <b>Clase:</b>
  <%= @vehiculo.clase %>
</p>

<p>
  <b>Tipo:</b>
  <%= @vehiculo.tipo %>
</p>

<p>
  <b>Clave vehicular:</b>
  <%= @vehiculo.clave_vehicular %>
</p>

<p>
  <b>Capacidad:</b>
  <%= @vehiculo.capacidad %>
</p>

<p>
  <b>Combustible:</b>
  <%= @vehiculo.combustible %>
</p>

<p>
  <b>Numero de puertas:</b>
  <%= @vehiculo.numero_de_puertas %>
</p>

<%= link_to 'Editar', edit_vehiculo_path(@vehiculo) %> |
<%= link_to 'Listado', vehiculos_path %>
