<%= form_for(@nave) do |f| %>
  <%= render 'error_messages', target: @nave %>

  <div class="field">
    <%= f.label :clave %><br />
    <%= f.text_field :clave %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
