<div class="label label-info" align="center">
	<h1>Listado de Naves</h1>
</div>
<br />
<table class="naves table table-bordered">
  <thead>
    <tr>
      <th>Clave</th>
      <th>Nombre</th>
      <th>Opciones</th>      
    </tr>
  </thead>

  <tbody>
  <% @naves.each do |nave| %>
    <tr>
      <td><%= nave.clave %></td>
      <td><%= nave.nombre %></td>
      <td>
      	<div class="btn-group">
	      <%= link_to 'Mostrar', nave, :class => 'btn' %>
	      <%= link_to 'Editar', edit_nave_path(nave), :class => 'btn' %>
	      <%= link_to 'Eliminar', nave, confirm: '¿Está usted seguro?', method: :delete, :class => 'btn btn-danger' %>
	    </div>
	  </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />
<%= link_to 'Nueva Nave', new_nave_path, :class => 'btn btn-primary' %>
<%= link_to 'PDF Naves', naves_path(:format => 'pdf'), :class => 'btn btn-inverse' %>
