<%= form_for(@orden_servicio) do |f| %>
  <% if not @orden_servicio.errors.empty? %>
    <div class="alert alert-error">
      <%= render 'error_messages', target: @orden_servicio %>
    </div>
  <%end%>
  
  <div class="row">
    <div class="span12 prepend">
      <div class="span11 controls-row">
        <div class="span2">
          <div class="field">
            <%= f.label :series_id %>
            <%= f.select :series_id, Series.all.map{|serie| [serie.nombre, serie.id] }, {}, {:class => "span2", :disabled => (current_user.responsable_nave?)}  %>
          </div>
        </div>

        <div class="span3">
          <div class="field">
            <%= f.label :fecha_recepcion %>
            <% if current_user.responsable_nave? %>
              <div class="input-append date" data-date-format="dd-mm-yyyy">
            <%else%>
              <div class="input-append date calendario" data-date-format="dd-mm-yyyy">
            <%end%>
              <%= f.text_field :fecha_recepcion, :class => "span2", :readonly => true, :'data-date-format' => "dd-mm-yyyy"%>
              <span class="add-on"><i class="icon-th"></i></span>
            </div>
          </div>
        </div>


        <div class="span3">
          <div class="field">
            <%= f.label :fecha_entrega %>
            <% if current_user.responsable_nave? %>
              <div class="input-append date" data-date-format="dd-mm-yyyy">
            <%else%>
              <div class="input-append date calendario" data-date-format="dd-mm-yyyy">
            <%end%>
              <%= f.text_field :fecha_entrega, :class => "span2", :readonly => true %>
              <span class="add-on"><i class="icon-th"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12 prepend">
      <div class="span11">
        <div class="field span10">
          <%= f.label :descripcion %>
          <%= f.text_area :descripcion, :class => "span10 oxlarge", :disabled => (current_user.responsable_nave?) %>
        </div>
      </div>
    </div>
  </div>

 
  <div class="row">
    <div class="span12 prepend">
      <div class="span11">
        <div class="field span6">
          <div class="control-group">
            <%= f.label :activo_id%>
            <div class="input-prepend">
              <span class="add-on">
                <a class="icon-search" data-toggle="modal" href=<%= current_user.responsable_nave? ? "" : "#myModal"%>></a>
              </span>
              <%= f.text_field :activo_descripcion, { :class => "span5 disabled", :disabled => "disabled", :id => "nombre_activo"} %>
              <%= f.hidden_field :activo_id %>
            </div>
          </div>
        </div>

        <div class="field span4">
          <%= f.label "Área" %>
          <%= text_field_tag 'activo_algo','', {:class => "span4 disabled", :disabled => "disabled", :id => "area_activo"} %>
        </div>

      </div>
    </div>
  </div>


  <div class="row">
    <div class="span12 prepend">
      <div class="span11">

        <div class="accordion span10" id="accordion_orden">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_orden" href="#collapseOne">Fallas</a>
            </div>
            <div id="collapseOne" class="accordion-body collapse" style="height: 0px;">
              <div class="accordion-inner">
                <table class="lbs_formset table table-bordered span9">
                  <thead>
                    <tr>
                      <th class="titulo">Falla</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody class="lbs_fields_wrapper">
                    <%= f.fields_for :orden_falla do |d_form| %>
                      <%= render 'orden_falla_fields', :f => d_form %>
                    <% end %>
                    <tr>
                      <td colspan="4"> 
                        <%= link_to_create 'Agregar falla', OrdenFalla.new, f, :class => 'agregar btn btn-inverse', :id=>"add" %>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_orden" href="#collapseTwo">Reparaciones</a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
              <div class="accordion-inner reparaciones">
                <table class="lbs_formset table table-bordered span9">
                  <thead>
                    <tr>
                      <th class="titulo">Reparación</th>
                      <% if current_user.admin? or current_user.responsable_nave? %>
                      <th class="titulo">Técnico</th>
                      <th class="titulo">Fecha/Hora On</th>
                      <th class="titulo">Fecha/Hora Off</th>
                      <th class="titulo">Descripción</th>
                      <th class="titulo">Cancelar</th>
                      <th class="titulo">Estatus</th>
                      <% end %>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody class="lbs_fields_wrapper">
                    <%= f.fields_for :orden_reparacion do |d_form2| %>
                      <%= render 'orden_reparacion_fields', :f => d_form2 %>
                    <% end %>
                    <tr>
                      <td colspan="7"> 
                        <%= link_to_create 'Agregar reparación', OrdenReparacion.new, f, :class => 'agregar btn btn-inverse', :id=>"add2" %>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>

          <% if current_user.responsable_nave? or current_user.admin?%>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_orden" href="#collapseThree">Refacciones</a>
            </div>
            <div id="collapseThree" class="accordion-body collapse" style="height: 0px;">
              <div class="accordion-inner refacciones">
                <table class="lbs_formset table table-bordered span9">
                  <thead>
                    <tr>
                      <th class="titulo">Refacción</th>
                      <th class="titulo">Cantidad</th>
                      <th class="titulo">Descripción</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody class="lbs_fields_wrapper">
                    <%= f.fields_for :orden_refaccion do |d_or| %>
                      <%= render 'orden_refaccion_fields', :f => d_or %>
                    <% end %>
                    <tr>
                      <td colspan="7"> 
                        <%= link_to_create 'Agregar refacción', OrdenRefaccion.new, f, :class => 'agregar btn btn-inverse', :id=>"add3" %>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <%end%>

        </div>

      </div>
    </div>
  </div>


  <div class="form-actions row span11 prepend">
    <div class="actions span11">
      <%= f.submit :class => 'btn btn-primary pull-right'%>
    </div>
  </div>

<% end %>


<div class="modal hide fade in" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Seleccionar activo</h3>
  </div>
  <div class="modal-body">

    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#buscar">Buscar</a></li>
      <li><a href="#crear">Crear</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="buscar">
        <%= render "activos/buscar_activo", :activos => @activos %>
      </div>
      <div class="tab-pane" id="crear">
        <%= render "activos/new_activo", :activo => @activo %>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cerrar</a>
  </div>
</div>


<div class="modal hide fade in" id="myModal_reparaciones">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Seleccionar reparación</h3>
  </div>
  <div class="modal-body">

    <ul class="nav nav-tabs" id="myTab_reparaciones">
      <li class="active"><a href="#buscar_reparacion">Buscar</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="buscar_reparacion">
        <%= render "reparaciones/buscar_reparacion", :reparacion => @reparacion %>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cerrar</a>
  </div>
</div>
