<tr class="fields">
  <td class="field">
    <%= f.select :reparacion_id, Reparacion.all.map{|fs| [fs.descripcion, fs.id] }, {} %>
    <!--<div class="control-group">
      <%= f.label :reparacion_id%>
      <div class="input-prepend">
        <span class="add-on">
          <a class="icon-search" data-toggle="modal" href="#myModal_reparaciones" ></a>
        </span>
        <%= text_field_tag 'rep','', { :class => "disabled", :disabled => "disabled"} %>
        <%= f.hidden_field :reparacion_id %>
      </div>
    </div> -->
  </td>
  <% if current_user.admin? or current_user.responsable_nave? %>
  <td>
    <%= f.select :agente_id, Agente.all.map{|ag| [ag.nombre, ag.id] }, {} %>
  </td>
  <td>
    <div class="input-append date calendario span3" data-date-format="dd-mm-yyyy">
      <%= f.text_field :fecha_on, :readonly => true, :'data-date-format' => "dd-mm-yyyy", :class => "span2"%>
      <span class="add-on"><i class="icon-th"></i></span>
    </div>
    <div class="input-append bootstrap-timepicker-component span3">
      <%= f.text_field :hora_on, :class => "input-small timepicker-default"%>
      <span class="add-on"><i class="icon-time"></i></span>
    </div>
  </td>
  <td>
    <div class="input-append date calendario span3" data-date-format="dd-mm-yyyy">
      <%= f.text_field :fecha_off, :readonly => true, :'data-date-format' => "dd-mm-yyyy", :class => "span2"%>
      <span class="add-on"><i class="icon-th"></i></span>
    </div>
    <div class="input-append bootstrap-timepicker-component span3">
      <%= f.text_field :hora_off, :class => "input-small timepicker-default"%>
      <span class="add-on"><i class="icon-time"></i></span>
    </div>
  </td>
  <td>
    <%= f.text_area :descripcion, :class => "table" %>
  </td>
  <td>
    <%= f.check_box :cancelada %>
  </td>
  <td>
    <%= f.select :status, Status::REPARACION, {} %>
  </td>

  <%end%>
  <td>
    <%= link_to_remove 'Eliminar', f, :class => 'eliminar btn btn-danger' %>
  </td>
</tr>
