<tr class="fields">
  <td class="field">
    <%= f.select :reparacion_id, Reparacion.all.map{|fs| [fs.descripcion, fs.id] }, {} %>
    <!--<div class="control-group">
      <%= f.label :reparacion_id%>
      <div class="input-prepend">
        <span class="add-on">
          <a class="icon-search" data-toggle="modal" href="#myModal_reparaciones" ></a>
        </span>
        <%= text_field_tag 'rep','', { :class => "disabled", :disabled => "disabled"} %>
        <%= f.hidden_field :reparacion_id %>
      </div>
    </div> --!>
  </td>

  <td>
    <%= link_to_remove 'Eliminar', f, :class => 'eliminar btn btn-danger' %>
  </td>
</tr>
