<div class="page-header">
  <h1>Listado de ordenes de servicios</h1>
</div>

<table class="datatable table table-bordered">
  <thead>
    <tr>
      <th>Series</th>
      <th>Folio</th>
      <th>Fecha recepcion</th>
      <th>Fecha entrega date</th>
      <th>Descripcion</th>
      <th>Activo</th>
      <th>Status</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
  <% @ordenes_servicios.each do |orden_servicio| %>
    <tr>
      <td><%= orden_servicio.series.nombre %></td>
      <td><%= orden_servicio.folio %></td>
      <td><%= orden_servicio.fecha_recepcion %></td>
      <td><%= orden_servicio.fecha_entrega %></td>
      <td><%= orden_servicio.descripcion %></td>
      <td><%= orden_servicio.activo.descripcion %></td>
      <td><%= Status.estatus(orden_servicio.status)%></td>
      <td>
        <div class="btn-group">
          <% if can? :asigna, orden_servicio%>
            <%= link_to 'Asignar', asigna_orden_servicio_path(orden_servicio), :class => 'btn btn-inverse' %>
          <% end %>
          <%= link_to 'Mostrar', orden_servicio, :class => 'btn' %>
          <%= link_to 'PDF', orden_servicio_path(orden_servicio, :format => "pdf"), :class => 'btn' %>
          <% if can? :update, orden_servicio %>
            <%= link_to 'Editar', edit_orden_servicio_path(orden_servicio), :class => 'btn' %>
          <% end %>
          <%if can? :delete, orden_servicio%>
            <%= link_to 'Eliminar', orden_servicio, confirm: '¿Está usted seguro?', method: :delete, :class => 'btn btn-danger' %>
          <%end%>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% if !current_user.responsable_nave? %>
<br />
<div class="form-actions">
  <%= link_to 'Nueva orden servicio', new_orden_servicio_path, :class => 'btn btn-primary' %>
</div>
<% end %>
