<%= form_for @categoria, :html => { :class => 'form-horizontal' } do |f| %>
  <%= render 'error_messages', target: @categoria %>
  	<legend></legend>
  	<fieldset>	
	
	  <div class="control-group">
	    <%= f.label :clave, :class => 'control-label' %>
	    <div class="controls">
	    	<%= f.text_field :clave, :class => 'text_field' %>
	    </div>
	  </div>
	  <div class="control-group">
	    <%= f.label :descripción, :class => 'control-label' %>
	    <div class="controls">
	    	<%= f.text_field :descripcion, :class => 'text_field' %>
	    </div>
	  </div>
	  <div class="form-actions">
	    <%= f.submit "Guardar", :class => "btn btn-primary" %>
	  </div>
	 </fieldset>
<% end %>
