<div class="label label-info" align="center">
	<h1>Listado de Categorías</h1>
</div>
<br />

<table class="categorias table table-bordered">
  <thead>
    <tr>
      <th>Clave</th>
      <th>Descripción</th>
      <th>Opciones</th>      
    </tr>
  </thead>

  <tbody>
  <% @categorias.each do |categoria| %>
    <tr>
      <td><%= categoria.clave %></td>
      <td><%= categoria.descripcion %></td>
      <td>
      	<div class="btn-group">
      		<%= link_to 'Mostrar', categoria, :class => 'btn' %>
      		<%= link_to 'Editar', edit_categoria_path(categoria), :class => 'btn'  %>
      		<%= link_to 'Eliminar', categoria, confirm: '¿Está usted seguro?', method: :delete, :class => 'btn btn-danger' %>
      	</div>
      </td>          
    </tr>
  <% end %>
  </tbody>
</table>

<br />
<%= link_to 'Nueva Categoría', new_categoria_path, :class => 'btn btn-primary'  %>
<%= link_to 'PDF Categorias', categorias_path(:format => 'pdf'), :class => 'btn btn-inverse' %>
<!--<%= link_to 'Excel Categorias', categorias_path(:format => 'xls'), :class => 'btn btn-inverse' %>-->
