<div class="label label-info" align="center">
	<h1>Listado de Fallas</h1>
</div>
<br />

<table class="fallas table table-bordered">
  <thead>
    <tr>
      <th>Clave</th>
      <th>Descripción</th>
      <th>Opciones</th>      
    </tr>
  </thead>

  <tbody>
  <% @fallas.each do |falla| %>
    <tr>
      <td><%= falla.clave %></td>
      <td><%= falla.descripcion %></td>
      <td>
      	<div class="btn-group">
      		<%= link_to 'Mostrar', falla, :class => 'btn' %>
      		<%= link_to 'Editar', edit_falla_path(falla), :class => 'btn' %>
      		<%= link_to 'Eliminar', falla, confirm: '¿Está usted seguro?', method: :delete, :class => 'btn btn-danger' %>      		
      	</div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />
<%= link_to 'Nueva Falla', new_falla_path, :class => 'btn btn-primary' %>
