<p id="notice"><%= notice %></p>

<p>
  <b>Clave:</b>
  <%= @falla.clave %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @falla.descripcion %>
</p>

<%= link_to 'Editar', edit_falla_path(@falla) %> |
<%= link_to 'Listado', fallas_path %>
