<div class="label label-info" align="center">
	<h1>Listado de Áreas</h1>
</div>
<br />

<table class="areas table table-bordered">
  <thead>
    <tr>
      <th>Clave</th>
      <th>Descripción</th>
      <th>Calle</th>
      <th>Número exterior</th>
      <th>Número interior</th>
      <th>Colonia</th>
      <th>Localidad</th>
      <th>Municipio</th>
      <th>Código postal</th>
      <th>Teléfono</th>
      <th>Correo electrónico</th>
      <th>Responsable</th>
      <th>Opciones</th>      
    </tr>
  </thead>

  <tbody>
  <% @areas.each do |area| %>
    <tr>
      <td><%= area.clave %></td>
      <td><%= area.descripcion %></td>
      <td><%= area.calle %></td>
      <td><%= area.numero_exterior %></td>
      <td><%= area.numero_interior %></td>
      <td><%= area.colonia %></td>
      <td><%= area.localidad %></td>
      <td><%= area.municipio %></td>
      <td><%= area.codigo_postal %></td>
      <td><%= area.telefono %></td>
      <td><%= area.correo_electronico %></td>
      <td><%= area.responsable %></td>
      <td>
      	<div class="btn-group">
      		<%= link_to 'Mostrar', area, :class => 'btn' %>
      		<%= link_to 'Editar', edit_area_path(area), :class => 'btn' %>
      		<%= link_to 'Eliminar', area, confirm: '¿Está usted seguro?', method: :delete, :class => 'btn btn-danger' %>
      	</div>
      </td>      
    </tr>
  <% end %>
  </tbody>
</table>

<br />
<%= link_to 'Nueva Área', new_area_path, :class => 'btn btn-primary' %>
<%= link_to 'PDF Areas', areas_path(:format => 'pdf'), :class => 'btn btn-inverse' %>
<!--<%= link_to 'Excel Area', areas_path(:format => 'xls'), :class => 'btn btn-inverse' %>-->
