<h1>Listado de Medidas</h1>

<table>
  <thead>
    <tr>
      <th>Clave</th>
      <th>Descripcion</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @medidas.each do |medida| %>
    <tr>
      <td><%= medida.clave %></td>
      <td><%= medida.descripcion %></td>
      <td><%= link_to 'Mostrar', medida %></td>
      <td><%= link_to 'Editar', edit_medida_path(medida) %></td>
      <td><%= link_to 'Eliminar', medida, confirm: '¿Está usted seguro?', method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />
<%= link_to 'Nueva Medida', new_medida_path %>
