<div class="label label-info" align="center">
	<h1>Listado de Medidas</h1>
</div>
<br />

<table class="medidas table table-bordered">
  <thead>
    <tr>
      <th>Clave</th>
      <th>Descripción</th>
      <th>Opciones</th>      
    </tr>
  </thead>

  <tbody>
  <% @medidas.each do |medida| %>
    <tr>
      <td><%= medida.clave %></td>
      <td><%= medida.descripcion %></td>
      <td>
      	<div class="btn-group">
      		<%= link_to 'Mostrar', medida, :class => 'btn' %>
      		<%= link_to 'Editar', edit_medida_path(medida), :class => 'btn' %>
      		<%= link_to 'Eliminar', medida, confirm: '¿Está usted seguro?', method: :delete, :class => 'btn btn-danger' %>
      	</div>
      </td>      
    </tr>
  <% end %>
  </tbody>
</table>

<br />
<%= link_to 'Nueva Medida', new_medida_path, :class => 'btn btn-primary' %>
<%= link_to 'PDF Medidas', medidas_path(:format => 'pdf'), :class => 'btn btn-inverse' %>
<!--<%= link_to 'Excel Medidas', medidas_path(:format => 'xls'), :class => 'btn btn-inverse' %>-->
