<div class="label label-info" align="center">
	<h1>Reporte de Ordenes de Servicio</h1>
</div>
<br />
	<%= form_tag consultas_general_path, {:method => :get, :class => "form-inline"} do %>
		<!--FORMATO DE SALIDA DEL REPORTE-->
		<div class="container well span11">  						
			<div class="row">									    				            								          		 
				<div class="field span11" align="right">
					<%= label_tag :formato %>										
						<%= select_tag :format, options_for_select([["XLS", "xls"], ["PDF", "pdf"]], "pdf") %>					            	
				</div>										
				<div class="field span11">
					<legend>
						Selecciona los filtros
					</legend>
				</div>						
			</div>			
							
			<div class="row">					
				<div class="field span3">				          			
					<%= label_tag :fecha_inicial %>					
						<div class="input-append date calendario" data-date-format="dd-mm-yyyy" >
							<%= text_field_tag :fecha_inicial, params[:fecha_inicial] %>
							<span class="add-on"><i class="icon-th"></i></span>
						</div>									
				</div>				          	
				<div class="field span3">
					<%= label_tag :fecha_final %>					
						<div class="input-append date calendario" data-date-format="dd-mm-yyyy" >
							<%= text_field_tag :fecha_final, params[:fecha_final] %>
							<span class="add-on"><i class="icon-th"></i></span>
						</div>
				</div>										
			</div>
			<br/>					
			<div class="row">
				<div class="field span3">
					<div class="form_row">    
						<label for="opcion_nave">Selecciona opción:</label>
						<% [ 'todas_las_naves','por_nave' ].each do |opcion_nave| %><br />												      
							<%= radio_button_tag :opcion_nave, opcion_nave, opcion_nave == 'todas_las_naves' %>
							<%= opcion_nave.humanize %>
						<% end %>
						<!--Where
						@opcion_nave = params[:opcion_nave]									    												    
						<br /><%= radio_button_tag 'opcion_nave', 'Todas las Naves', true %>Todas las Naves
						<br />
						<br /><%= radio_button_tag 'opcion_nave', 'Por Nave' %>Por Nave-->
						<br />
						<br />					
						<%= select_tag :id_nave, options_from_collection_for_select(@naves, "id", "nombre") %>									    												  
					</div>																																																																			 
				</div>	    	
				<div class="field span3">					          
					<div class="form_row">    
						<label for="opcion_nave">Selecciona opción:</label>												    											    
						<% [ 'todas_las_areas', 'por_area' ].each do |opcion_area| %><br />												      
							<%= radio_button_tag :opcion_area, opcion_area, opcion_area == 'todas_las_areas' %>												      
							<%= opcion_area.humanize %>												      
						<% end %>	
						<br />	
						<br />												    									    												   
						<%= select_tag :id_area, options_from_collection_for_select(@areas, "id", "descripcion") %>												    												   
					</div>																																																										   								
				</div>	
				<div class="field span3">				          		
					<div class="form_row">    
						<label for="opcion_nave">Selecciona opción:</label>												    											    
							<% [ 'todos_los_agentes', 'por_agente' ].each do |opcion_agente| %><br />												      
					      		<%= radio_button_tag :opcion_agente, opcion_agente, opcion_agente == 'todos_los_agentes' %>												      
								<%= opcion_agente.humanize %>												      
							<% end %>
							<br />
							<br />														    									    												   
							<%= select_tag :id_agente, options_from_collection_for_select(@agentes, "id", "nombre") %>												    												   
					</div>																																																																			   
				</div>												     
			</div>													
			<br />
			<div class="row">									    				            								          		 												
				<div class="field span11">
					<legend>						
					</legend>
				</div>						
			</div>
			<div align="right">
				<%= submit_tag 'Obtener reporte', :class=>"btn btn-inverse" %>
			</div>													
		</div>
	<% end %>
