<%= form_for(@estado) do |f| %>
  <%= render 'error_messages', target: @estado %>

  <div class="field">
    <%= f.label :clave %><br />
    <%= f.text_field :clave %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :color_estado %><br />
    <%= f.text_field :color_estado %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
