<div class="label label-info" align="center">
	<h1>Listado de Estados</h1>
</div>
<br />



<table class="estados table table-bordered">
  <thead>
    <tr>
      <th>Clave</th>
      <th>Descripción</th>
      <th>Color estado</th>
      <th>Opciones</th>      
    </tr>
  </thead>

  <tbody>
  <% @estados.each do |estado| %>
    <tr>
      <td><%= estado.clave %></td>
      <td><%= estado.descripcion %></td>
      <td><%= estado.color_estado %></td>
      <td>
      	<div class="btn-group">
      		<%= link_to 'Mostrar', estado, :class => 'btn' %>
      		<%= link_to 'Editar', edit_estado_path(estado), :class => 'btn' %>
      		<%= link_to 'Eliminar', estado, confirm: '¿Está usted seguro?', method: :delete, :class => 'btn btn-danger' %>
      	</div>
      </td>      
    </tr>
  <% end %>
  </tbody>
</table>

<br />
<%= link_to 'Nuevo Estado', new_estado_path, :class => 'btn btn-primary' %>
