<h1>Listado de Activos</h1>

<table>
  <thead>
    <tr>
      <th>Clave</th>
      <th>Descripcion</th>
      <th>Costo revision</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @activos.each do |activo| %>
    <tr>
      <td><%= activo.clave %></td>
      <td><%= activo.descripcion %></td>
      <td><%= activo.costo_revision %></td>
      <td><%= link_to 'Mostrar', activo %></td>
      <td><%= link_to 'Editar', edit_activo_path(activo) %></td>
      <td><%= link_to 'Eliminar', activo, :data => {:confirm => '¿Está usted seguro?'}, method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />
<%= link_to 'Nuevo Activo', new_activo_path %>
