<p id="notice"><%= notice %></p>

<p>
  <b>Clave:</b>
  <%= @activo.clave %>
</p>

<p>
  <b>Descripción:</b>
  <%= @activo.descripcion %>
</p>

<p>
  <b>Costo revisión:</b>
  <%= number_to_currency(@activo.costo_revision) %>
</p>

<p>
  <b>Área:</b>
  <%= @activo.area.descripcion %>
</p>
<p>
  <b>Código:</b>
  <%= @activo.codigo %>
</p>


<p>
  <b>Imagen:</b>
	<%= image_tag @activo.imagen.url(:small) %>  
</p>

<%= link_to 'Editar', edit_activo_path(@activo) %> |
<%= link_to 'Listado', activos_path %>
