<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">      
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>


      <%= link_to "Sistema de Ordenes de Servicio", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Inicio", home_index_path %></li>
          <li><%= link_to "Categorías", categorias_path %></li>
          <li><%= link_to "Maquinaria", activos_path %></li>
          <li><%= link_to "Fallas", fallas_path %></li>
          <li><%= link_to "Estados", estados_path %></li>
          <li><%= link_to "Reparaciones", reparaciones_path %></li>
          <li><%= link_to "Refacciones", articulos_path %></li>
          <li><%= link_to "Areas", areas_path %></li>
          <li><%= link_to "Medidas", medidas_path %></li>
          <li><%= link_to "Series", series_index_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to "Cerrar sesión", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to "Iniciar sesión", new_user_session_path %></li>
            <li><%= link_to "Registrarme", new_user_registration_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>

