<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">      
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#"> <%= image_tag('pemex_p.png') %> SSET  </a>

      <div class="btn-group pull-right">

        <ul class="nav">
          <li class="divider-vertical"></li>
        </ul>

        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-user"></i>
          <% if user_signed_in? %>
            <%= current_user.email %>
          <% end %>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <% if user_signed_in? %>
              <%= link_to "Cerrar sesión", destroy_user_session_path, :method => :delete %>
            <% else %>
              <%= link_to "Iniciar sesión", new_user_session_path %>
            <% end %>
            <li>
            </li>
          </li>
        </ul>
      </div>
      
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><%= link_to "Inicio", home_index_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Catálogos
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Categorías", categorias_path %></li>
              <li><%= link_to "Maquinaria", activos_path %></li>
              <li><%= link_to "Fallas", fallas_path %></li>
              <li><%= link_to "Estados", estados_path %></li>
              <li><%= link_to "Reparaciones", reparaciones_path %></li>
              <li><%= link_to "Refacciones", articulos_path %></li>
              <li><%= link_to "Areas", areas_path %></li>
              <li><%= link_to "Medidas", medidas_path %></li>
              <li><%= link_to "Tecnico", agentes_path %></li>
              <li><%= link_to "Articulos Medidas", relaciones_articulos_medida_path %></li>
              <li><%= link_to "Series", series_index_path %></li>
            </ul>
          </li>
          <li><%= link_to "Orden de servicio", ordenes_servicios_path  %></li>
        </ul>
      </div>

    </div>
  </div>
</header>

