<%= form_for(@articulo) do |f| %>
  <%= render 'error_messages', target: @articulo %>
  	<div class="articulo">
  		<div class="span12 last">
    		<fieldset class="span10 ui-widget-content ui-corner-all ui-draggable ui-resizable">
  				<legend class="ui-widget-header ui-corner-all ui-corner-all ui-helper-clearfix"><div>Información del artículo</div> </legend>
					<div class="row">
				    	<div class="span6 prepend">
				      		<div class="span11">
				        		<div class="span3">            			   		
				  					<div class="field">
										<%= f.label :clave %>
										<%= f.text_field :clave %>
									</div> 					
				  				</div>
				  				<div class="span3">
									<div class="field">
								    	<%= f.label :descripción %>
								    	<%= f.text_field :descripcion %>
								  	</div>
								</div>
								<div class="span3">
									<div class="field">
								   		<%= f.label :descripción_larga %>
								   		<%= f.text_field :descripcion_larga %>
								 	</div>
								</div>
							</div>
						</div>
					</div>
			</fieldset>
		</div>
	</div>	
	
  	<br />
  	<br />
  	<div class="unidades_de_medida">
  		<div class="span12 last">
    		<fieldset class="span6 ui-widget-content ui-corner-all">
  				<legend class="ui-widget-header ui-corner-all"><div>Medidas</div> </legend>
				<div class="row">
					<div class="span10 prepend">
				    	<div class="span10">
					        <table class="lbs_formset table table-bordered span4">
					          <thead>
					            <tr>
					              <th class="titulo">Medida</th>
					              <th>Unidades por empaque</th>              
					            </tr>
					          </thead>
					          <tbody class="lbs_fields_wrapper">
					            <%= f.fields_for :relacion_articulo_medida do |d_form| %>
					              <%= render 'relacion_articulo_medida_fields', :f => d_form %>
					            <% end %>
					            <tr>
					              <td colspan="4"> 
					                <%= link_to_create 'Agregar Medida', RelacionArticuloMedida.new, f, :class => 'agregar btn btn-inverse', :id=>"add" %>
					              </td>
					            </tr>
					          </tbody>
					        </table>
				      	</div>
				    </div>
				  </div>				  
			</fieldset>
		</div>
	</div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary pull-right'%>
  </div>
<% end %>
