<div class="label label-info" align="center">
	<h1>Listado de Artículos</h1>
</div>
<br />

<table class="articulos table table-bordered">
  <thead>
    <tr>
      <th>Clave</th>
      <th>Descripción</th>
      <th>Descripción larga</th>
      <th>Opciones</th>      
    </tr>
  </thead>

  <tbody>
  <% @articulos.each do |articulo| %>
    <tr>
      <td><%= articulo.clave %></td>
      <td><%= articulo.descripcion %></td>
      <td><%= articulo.descripcion_larga %></td>
      <td>
      	<div class="btn-group">
      		<%= link_to 'Mostrar', articulo, :class => 'btn' %>
      		<%= link_to 'Editar', edit_articulo_path(articulo), :class => 'btn' %>
      		<%= link_to 'Eliminar', articulo, confirm: '¿Está usted seguro?', method: :delete, :class => 'btn btn-danger' %>
      	</div>
      </td>      
    </tr>
  <% end %>
  </tbody>
</table>

<br />
<%= link_to 'Nuevo Artículo', new_articulo_path, :class => 'btn btn-primary' %>
<%= link_to 'PDF Artículos', articulos_path(:format => 'pdf'), :class => 'btn btn-inverse' %>
